.admin-container {
  .dataTable {
    overflow-y: scroll;

    .add-btn {
      background-color: green;
      width: 40px;
      height: 40px;

      img {
        height: 27px;
        width: 27px;
      }
    }

    .row-btns {
      outline: none;
      border: none;
      border-radius: 3px;
      
      img {
        filter: invert(100%);
      }
    }

    .edit-btn {
      background-color: $primary-border-color;
    }

    .view-btn {
      background-color: green;
    }

    .del-btn {
      background-color: red;
    }
  }
}